@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);

  --transparent-white: hsla(0, 0%, 100%, 0.75); /* paragraphs */
  --very-light-gray: hsl(0, 0%, 95%); /* background,headings,buttons */
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  background-color: var(--very-light-gray);
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: red;
}

.card__section {
  max-width: 327px;
  padding: 50px;
}

.--sedan {
  border-radius: 10px 10px 0 0;
  background-color: var(--bright-orange);
}

.--suv {
  background-color: var(--dark-cyan);
}

.--luxury {
  border-radius: 0 0 10px 10px;
  background-color: var(--very-dark-cyan);
}

.card__section-header {
  margin-top: 30px;
  font-size: 2.5rem;
  font-family: "Big Shoulders Display", cursive;
  color: var(--very-light-gray);
}

.card__section-description {
  margin-top: 25px;
  line-height: 165%;
  color: var(--transparent-white);
}

.card__section-button {
  margin-top: 25px;
  width: 146px;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
  padding: 15px;
}

.card__section-button:hover {
  cursor: pointer;
  transition: 0.2s;
}

.--sedan-button {
  color: var(--bright-orange);
}

.--sedan-button:hover {
  border: 2px solid var(--very-light-gray);
  color: var(--very-light-gray);
  background-color: var(--bright-orange);
}

.--suv-button {
  color: var(--dark-cyan);
}

.--suv-button:hover {
  border: 2px solid var(--very-light-gray);
  color: var(--very-light-gray);
  background-color: var(--dark-cyan);
}

.--luxury-button {
  color: var(--very-dark-cyan);
}

.--luxury-button:hover {
  border: 2px solid var(--very-light-gray);
  color: var(--very-light-gray);
  background-color: var(--very-dark-cyan);
}

@media (min-width: 950px) {
  .card {
    flex-direction: row;
  }

  .card__section {
    max-width: 307px;
    padding-right: 47px;
  }

  .--sedan {
    border-radius: 10px 0 0 10px;
  }

  .--luxury {
    border-radius: 0 10px 10px 0;
  }

  .card__section-button {
    margin-top: 80px;
  }
}
